/* stylesheet for recipes website */

* {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', sans-serif;
}

#title {
    color: black;
    background-color: rgb(92, 189, 158);
    text-align: center;
}

p {
    font-size: 18px;
    margin-left: 50px;
}

.recipe1,
.recipe2 {
    display: inline-block;
    padding: 10px;
    width: auto;
    margin-right: 20px;



}